In [ ]:
a =  5 + 10j
b = 3 + 2j
print(a * b)
type(a)

(-5+40j)

complex

In [2]:
b = "str"

In [4]:
n = int(input())
#input() gets the input in string format, int() is used to convert it to integer
print(n)
print(type(n))
if (n % 2 == 0) :
    print("Even")
else :
    print("odd")

10
10
<class 'int'>
Even

### while loop

In [2]:
n = int(input())
i = 0
while i < n :
    print(i)
    i += 1
# note unlike java or C++ i++ is not valid in Python

12
0
1
2
3
4
5
6
7
8
9
10
11

### for loop

In [6]:
m = int(input())
n = int(input())
#for range(m,n,step) m is included, n is not. 
#step denotes the increment between consecutive numbers
for i in range(m, n, 1):
    print(i)

1
5
1
2
3
4

#### Different ways of using for loop

In [9]:
l = [1,2,33]
for i in range(len(l)):
    print(i)

0
1
2

In [10]:
for e in l:
    # e takes the value of each element in array l
    print(e)

1
2
33

### Bubble sort

In [12]:
# bubble sort
l = [2, 1, 4, 9, 7, 6]
for j in range(len(l) - 1) :
    for i in range(len(l) - 1 - j):
        if (l[i] > l[i + 1]) :
            b = l[i]
            l[i] = l[i + 1]
            l[i + 1] = b
print(l)

[1, 2, 4, 6, 7, 9]

### Bubble sort as a function

In [15]:
def bubble(l) :
    for j in range(len(l) - 1) :
        for i in range(len(l) - 1 - j):
            if (l[i] > l[i + 1]) :
                b = l[i]
                l[i] = l[i + 1]
                l[i + 1] = b
                
                
l = [4,3,2,1]
bubble(l)
print(l)

[1, 2, 3, 4]

### returning multiple things from the same function

In [11]:
def increment(i) :
    i = i + 1
    return i, 10203
    
a = 10
b = increment(a)

In [14]:
# funtion returned a tuple
b

(11, 10203)

### Receiving only few values from many values returned by a function

In [15]:
b,_=increment(a)
b

11

In [20]:
#list can have different data types
c = [11, "sbus", [12,"dd"]]
print(c)
type(c)

[11, 'sbus', [12, 'dd']]

list

### List functions

In [17]:
a =[1,3,4,2]
a.sort()
print(a)

[1, 2, 3, 4]

In [29]:
b = [2,3]
b = b * 2 
# makes b an array [2,3,2,3], Note: "does not" do element wise multiplication
a.append(12)
# adding to an array at last
print(a)
print(b)

[1, 2, 3, 4, 12, 12, 12, 12, 12]
[2, 3, 2, 3]

In [30]:
#remove the first instance of 2
b.remove(2)

print(b)
#return the index of the remaining 2
b.index(2)

[3, 2, 3]

1

In [31]:
#insert 9 at 0th index in b
b.insert(0, 9)

print(b)

#return and remove the topmost element
print(b.pop(1))
b

[9, 3, 2, 3]
3

[9, 2, 3]

## Matrix creation

In [34]:
a = []
m = int(input())
n = int(input())
#create a matrix of m rows and n columns
for i in range(m):
    a.append([])
    for j in range(n):
        a[i].append(0)
        
a

6
2

[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0]]

In [35]:
#Shorter way
m = int(input())
n = int(input())
a = [[0 for i in range(n)] for j in range(m)]
a

6
2

[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0]]

## Importing a package

In [38]:
import math as m
m.sqrt(10)

3.1622776601683795

## Numpy

In [39]:
import numpy as np
l = [2,3,4]
a = np.array(l)
# a matrix of 4 rows and 5 columns
b = np.zeros((4, 5), int)
print(l)
a
l
b
b[0][0] = "10"
b.dtype
b

[2, 3, 4]

array([[10,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0]])

In [40]:
a = np.array([1,2])
b = np.array([3,4])
# operations in numpy are element wise
print(a + b)
print(a + 2)
print(a * b)
print(a * 2)
print(a ** 2)

[4 6]
[3 4]
[3 8]
[2 4]
[1 4]

In [42]:
print(a.mean())
print(a.sum())

1.5
3

In [45]:
b2 = np.array([[1,2], [3,4]])
print(b2.shape)
print(b2[0])
print(b2[:,0])

(2, 2)
[1 2]
[1 3]

In [46]:
a = np.array([[1,2,3], [3,4,5]])
b = np.array([[2,3], [5,6], [7,8]])
#print(a * b)
a.dot(b)
#math.sqrt(((a - b) ** 2).sum())

array([[33, 39],
       [61, 73]])

## Dictionary (same as map in C++ and Java)

In [101]:
dict = {"abc" : 10}
dict["abc"]
for key in dict.keys():
    print(key)
    print(dict[key])
    
str(dict)

abc
10

"{'abc': 10}"